$brand :#edff00;
// $brand :#e1ff00 ;
$brand-light :#FFFFEA;
$gray :#f2f2f2;
$fontblack :#333333;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
    font-size: 10px;
}

body {
    line-height: 100%;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    margin: 0px;
    color: #fff;
    font-family: 'Poppins';
    background: #000;
    -webkit-text-size-adjust: 100%;
    font-family: "Poppins", serif;
}

header {
    border-bottom: 1px solid #333;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
}

header nav ul {
    display: flex;
    justify-content: start;
    align-items: start;
}

header nav ul li {
    padding-right: 2rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

h4 {
    padding: 0; 
}

.responsive-table {
    width: 100%;
    overflow: auto;
}

.actions {
    background: #121212;
    border-radius: 1rem;
    overflow: auto;
    background: url(banner.png);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-size: cover;
    align-items: center;
    justify-content: center;
    align-self: center;
    align-content: center;
}

h5 { 
    font-size: 1.4rem;
    margin: auto 1rem 2rem auto;
    font-weight: 200;
    color: #666666;
}   

strong {
    margin-bottom: 1rem;
    display: inline-block;
}

nav.right-head ul {
    justify-content: end;
    align-items: end;
    display: flex;
}
.copyrights{
    font-size: .8rem;
    color: #666666;
}
.banner {
    background: url('banner.png');
    min-height: 480px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    padding: 10rem;
    margin-bottom: 2rem;
    flex-direction: row;
    background-size: cover;
}

ul {
    list-style: none;
    padding: 0;
}

.cta {
    width: 65%;
}

.cta h1 {
    font-family: "Fraunces", serif;
    font-size: 5rem;
    font-weight: 900;
    font-optical-sizing: auto;
    line-height: 6rem;
    font-style: normal;
    font-variation-settings: "SOFT" 0, "WONK" 0;
}

.card {
    background: linear-gradient(90deg, #202020, #333333);
    border-radius: 1rem;
    padding: 1rem;
    height: 100%;
}

div#insights-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 2rem;
}

.sidebar ul li {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

hr {
    border: 0;
    border-top: 1px solid #333333;
    margin-right: 1rem;
}

.sidebar.hidden {
    display: none;
}

.sidebar {
    width: 10%;
}

.col-md-auto {
    width: 90%;
}

#preloader {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    z-index: 1000;
}

select#file-select {
    border-radius: 3rem;
    background: #000;
    padding: 12px 24px;
    color: #000000;
    text-decoration: none;
    display: inline-block;
    line-height: 13px;
    border: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .06);
    border: 1px solid rgba(255, 255, 255, .1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.btn-primary {
    border-radius: 3rem;
    height: 36px;
    text-align: center;
    background: #000;
    padding: 12px 24px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    line-height: 13px;
    border: none;
    cursor: pointer;
    background-color: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
}

.btn-primary:hover {
    color: #000;
    background-color: rgba(255, 255, 255, 1);
}

input[type="file"] {}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (min-width: 1800px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1320px;
    }
}

@media (min-width: 768px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 98%;
    }

    .twenty {
        width: 20%;
    }

    .col-md-1 {
        flex: 0 0 auto;
        width: 8.3333333333%
    }

    .col-md-2 {
        flex: 0 0 auto;
        width: 16.6666666667%
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 25%
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 33.3333333333%
    }

    .col-md-5 {
        flex: 0 0 auto;
        width: 41.6666666667%
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%
    }

    .col-md-7 {
        flex: 0 0 auto;
        width: 58.3333333333%
    }

    .col-md-8 {
        flex: 0 0 auto;
        width: 66.6666666667%
    }

    .col-md-9 {
        flex: 0 0 auto;
        width: 75%
    }

    .col-md-10 {
        flex: 0 0 auto;
        width: 83.3333333333%
    }

    .col-md-11 {
        flex: 0 0 auto;
        width: 91.6666666667%
    }

    .col-md-12 {
        flex: 0 0 auto;
        width: 100%
    }
}

@media (max-width:600px) {
    .twenty {
        width: 25%;
    }

    .col-md-4 {}

    .tags a {
        margin-left: 2px;
        margin-right: 2px;
    }

    .tagger {
        border-radius: 6px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 2px;
        padding-bottom: 2px;
        line-height: 16px;
        margin-top: 0px;
        margin-bottom: 8px;
    }

    .container {
        padding-right: 8px;
        padding-left: 8px;
    }

    h1 {
        font-size: 1.8rem;
        font-weight: 600;
    }

    .tags {
        width: 100%;
        overflow-x: scroll;
        padding: 10px;
        white-space: nowrap;
    }

    .products .discover {
        overflow-x: scroll;
        padding: 10px;
        white-space: nowrap;
    }

    .search-form {
        width: 100%;
        margin-top: 8px !important;
    }
}

@media (max-width:480px) {
    .single .head-top {
        display: none;
    }

    .head {
        background: $brand !important;
    }

    .copyrights-block,
    input#txtSearch,
    #breadcrumbs,
    input#txtSearch::placeholder {
        font-size: .8rem !important;
    }

    .twenty {
        width: 50%;
    }

    .action-box {
        position: fixed;
        bottom: 0;
        left: 8px;
        right: 8px;
        width: auto;
        padding-top: 32px;
        z-index: 9999999999;
        background: linear-gradient(180deg, rgb(255 255 255), rgb(255 255 255 / 50%));
    }

    .col-12 {
        width: 100%;
    }

    ul.wp-block-post-template {
        grid-template-columns: 1fr 1fr !important;
    }

    .col-md-4 {}

    .head {
        padding-bottom: 0px;
        margin-bottom: 8px;
        border-radius: 0 0 32px 32px;
    }

    .search-box {
        margin-top: 0px !important;
    }

    .search-box h1 {
        display: none;
    }
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
}

.row {
    max-width: 100% !important;
    justify-content: center;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));align-items: center;
}

.col {
    flex: 1 0 0%;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-center {
    justify-content: center !important;
    text-align: center;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%
}

.col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%
}

@media (min-width: 768px) {

    .col-md-1 {
        flex: 0 0 auto;
        width: 8.3333333333%
    }

    .col-md-2 {
        flex: 0 0 auto;
        width: 16.6666666667%
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 25%
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 33.3333333333%
    }

    .col-md-5 {
        flex: 0 0 auto;
        width: 41.6666666667%
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%
    }

    .col-md-7 {
        flex: 0 0 auto;
        width: 58.3333333333%
    }

    .col-md-8 {
        flex: 0 0 auto;
        width: 66.6666666667%
    }

    .col-md-9 {
        flex: 0 0 auto;
        width: 75%
    }

    .col-md-10 {
        flex: 0 0 auto;
        width: 83.3333333333%
    }

    .col-md-11 {
        flex: 0 0 auto;
        width: 91.6666666667%
    }

    .col-md-12 {
        flex: 0 0 auto;
        width: 100%
    }
}

@media (max-width:600px) {

    .col-md-4 {}

    .container {
        padding-right: 8px;
        padding-left: 8px;
    }

    h1 {
        font-size: 1.8rem;
        font-weight: 600;
    }

    .tags {
        width: 100%;
        overflow-x: scroll;
        padding: 10px;
        white-space: nowrap;
    }

    .products .discover {
        overflow-x: scroll;
        padding: 10px;
        white-space: nowrap;
    }

    .search-form {
        width: 100%;
        margin-top: 8px !important;
    }
}

@media (max-width:480px) {

    .head {
        background: $brand !important;
    }

    .copyrights-block,
    input#txtSearch,
    #breadcrumbs,
    input#txtSearch::placeholder {
        font-size: .8rem !important;
    }

    .twenty {
        width: 50%;
    }

    .action-box {
        position: fixed;
        bottom: 0;
        left: 8px;
        right: 8px;
        width: auto;
        padding-top: 32px;
        z-index: 9999999999;
        background: linear-gradient(180deg, rgb(255 255 255), rgb(255 255 255 / 50%));
    }

    .col-12 {
        width: 100%;
    }

    .col-md-4 {}

    .head {
        padding-bottom: 0px;
        margin-bottom: 8px;
        border-radius: 0 0 32px 32px;
    }
}

.col-9 {
    flex: 0 0 auto;
    width: 75%;
}

.col-3 {
    flex: 0 0 auto;
    width: 25%;
}